canvas
section
   header
      h1 SEAN CODES
      .links-social
         .social
            img(src="https://sean-codes.github.io/assets/images/codepen.png")
            .text Codepen
         .social
            img(src="https://sean-codes.github.io/assets/images/github.png")
            .text Github
         .social
            img(src="https://sean-codes.github.io/assets/images/instagram.png")
            .text Instagram
         .social
            img(src="https://sean-codes.github.io/assets/images/youtube.png")
            .text Youtube
section
   h2 ABOUT
   p Hi! I'm a software developer in Chicago exploring Web Development, Network Programming, and 2D Game Development.
section
   h2 PROJECTS
   .row
      .card
         img(src="https://sean-codes.github.io/assets/images/project1.png")
         h4 CS-SOCKETS
         .info A text based networking server for snappy websocketing in Node.js
         a(href="#") open source#[i.material-icons launch]
      .card
         img(src="https://sean-codes.github.io/assets/images/project2.png")
         h4 CUBE WARRIOR
         .info Version 2 of my MMORPG with a new take on global game networking
         a(href="#") read more#[i.material-icons launch]
      .card
         img(src="https://sean-codes.github.io/assets/images/project3.png")
         h4 CS-ENGINE
         .info A mobile first responsive game development engine for 2D games
         a(href="#") open source#[i.material-icons launch] 
section
   h2 WRITING
      h4 Notes: Focus Poiter Events Toggle
      p This is a bit about using the focus and pointer-events to make a css only toggle button!
      h4 Codepen notes: Canvas Particle Background Connection
      p These are notes on doing a particle connection effect
      h4 Notes: Dynamic Vertical Height Dropdowns
      p This is a quick write up on dynamic sized drop downs
section
   h2 TOOLS
   .tools
      .tool Sublime Text 3
      .tool Atom.io
      .tool JavaScript
      .tool JQuery
      .tool HTML5 and CSS3
      .tool Front End Frameworks
      .tool PHP
      .tool ColdFusion
      .tool XCODE
      .tool ANDROID STUDIO
      .tool Cordova
      .tool Jekyll
